body{
    background:url(https://www.fraserinstitute.org/sites/default/files/carousel_images/1-students.jpg) no-repeat center fixed;
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
}



.sigla{
    margin-left: 90%;
    width: 90px;
}

.login-card {
    margin-top:10px;
    margin-left:150px;
    border-radius:8px;
    padding: 50px;
    width: 300px;
    height:250px;
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px;
    overflow: hidden;
  }

  .login-help {
    width: 100%;
    text-align: left;
    font-size: 15px;
  }

  .log-in-text{
    font-size:40px;
    color:navy;
  }

  .login-submit{
      border:none;
      background-color:navy;
      color:white;
      padding: 15px 32px;
      display: inline-block;
      font-size: 16px;
  }

  .login-card input[type=text], input[type=password] {
    height: 40px;
    font-size: 16px;
    width: 115px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid black;
    border-top: 1px solid grey;
    padding: 0 8px;
  }

  .login-card input[type=text]:hover, input[type=password]:hover {
    border: 1px solid black;
    border-top: 1px solid grey;
    -moz-box-shadow:inset 0 0 5px white;
    -webkit-box-shadow: inset 0 0 5px black;
    box-shadow:  inset 0 0 2px grey;
  }

  .login-submit:hover {
  border:none;
  text-shadow: 0 1px grey;
  background-color: rgb(8, 8, 165);
  }

  @media only screen and (max-width:900px){
    .login-card{
      margin-top:2%;
      margin-left:2%;
      width: 275px;
      height:250px;
    }
    .sigla{
      margin-left: 79%;
      width: 90px;
  }
   }